@font-face {
    font-family: 'Nicolast';
    src: url('fonts/Nicolast.otf') format('opentype');
}

@font-face {
    font-family: 'Sweety Rasty';
    src: url('fonts/Sweety Rasty.otf') format('opentype');
}

.download-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 25px;
    text-decoration: none;
}

body {
    background-image: url('background.png');
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-text {
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}

.title {
    font-family: 'Nicolast', sans-serif;
    font-size: 5em;
    font-weight: bold;
}

.top-image {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 200px;
}

.subtitle {
    font-family: 'Sweety Rasty', sans-serif;
    font-size: 1.5em;
    font-style: italic;
}

.link-container {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.social-link {
    margin: 0 10px;
}

.social-link img {
    width: 32px;
    height: 32px;
}
